body{
  background: rgb(166, 211, 166);
}

.container{
  width: 90%;
  margin: 10px auto;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
  border-radius: 8px;
}

h1{
  padding: 0px;
  margin: 0px;
}


